.hippie-container {
  background-color: #ffcccb;
  border: 2px solid #ff69b4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ff69b4;
  margin: 180px;
  margin-left: -170px;
  width: 320px;
  height: 320px;
}

.nombre {
  color: #8b0000;
  font-size: 24px;
  text-shadow: 0px 0px 5px #ffffff;
}

.descripcion {
  font-size: 16px;
  color: #333;
}

.imagen-personaje {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}